body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* COMPONENT: LINK */ 
 a {
  text-decoration: none;
  color: black !important;
}

/* COMPONENT: CHARITY */
.Charity > img {
  height: 15vh;
}
/* COMPONENT: SEARCH */
.brand {
  width: 7vw;
}
/* COMPONENT: MATERIALLIST: */
.MaterialList {
  display:flex;
}
.material-right, .material-left {
  display: inline-block;
  padding: 5px !important;
}

/* COMPONENT: MATERIALCARD: full-card */
.full-card-img {
  height:25vh
}
.MaterialCard {
  margin-top: 5px;
}

/* COMPONENT: CHARITYCARD, CAMPAIGNCARD: thin-card */
.CharityCard, .CampaignCard {
  margin-top: 12px;
}

.thin-card {
  display: flex;
  /* justify-content: space-between; */
  padding: 5px 10px 10px 10px !important;
  height: 15vh;
  align-items: center;
}
.no-border {
  height: 13.5vh !important;
  border: none !important;
  width: 50% !important;
  padding: 2px !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .thin-card-content {
  display: inline-block;
  margin: 0 5px 0 5px
} */
.thin-card-img {
  max-width: 95%;
  max-height: 13vh;
  align-self: center;
}
.campaign-img {
  border-radius: .5rem;
  /* width: 95% */
}
.whitespace {
  background: white;
  height: 13vh;
  width: 100%;
  margin-left: 10px;
  border-radius: .5rem;
}
.thin-card-txt {
  font-stretch: condensed;
  margin: 0 5px 0 5px;
  max-width: 100%;
  display: inline;
  margin-right: 10px;
  /* line-height: 1px  */
}

/* COMPONENT: CAMPAIGN */
.Campaign > img {
  height: 15vh;
}

/* COMPONENT: MATERIAL */
.Material > img {
  height: 30vh;
}

/* COMPONENT: CONTAINER */
.container {
  /* margin-left: 1px !important; */
  /* margin-right: 1px !important; */
  max-width: 99.8vw !important;
}
/* COMPONENT: ROW */
/* .row {
  
} */
/* COMPONENT: COL */
.col {
  /* border-left: 0.5px solid darkgray; */
  /* border-right: 0.5px solid darkgray; */
  height:92vh;
}

.home-col {
  margin-top:5px;
  border-left: 0.1vw lightgrey dotted;
  max-height: 88vh;
  overflow-y: auto;
} 