
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");

.container {
	background-color: #fefefe;
}

.navbar {
	display: flex !important;
}

.selector {
  width: 250px
}

.btn-secondary {
	background-color: rgba(167, 190, 211, 1) !important;
	border: 1px solid rgba(167, 190, 211, 0.5) !important;
	font-weight: 800 !important;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat" !important;
	color: #222222 !important;
}

h4 {
	font-weight: 800 !important;
}

p,
a,
input,
button {
	font-family: "Lato";
}

a:hover {
	text-decoration: none !important;
}

.list-group-item.active {
	background-color: rgba(167, 190, 211, 1) !important;
	border: 1px solid rgba(167, 190, 211, 1) !important;
}

.CharityCard {
	margin-bottom: 1rem;
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
  box-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  
}

.list-group {
	margin-top: 2rem !important;
}

.home-col {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* COMPONENT: LINK */ 
 a {
  text-decoration: none;
  color: black !important;
}

/* COMPONENT: CHARITY */
.Charity > img {
  height: 15vh;
}
/* COMPONENT: SEARCH */
.brand {
  width: 7vw;
}
/* COMPONENT: MATERIALLIST: */
.MaterialList {
  display:flex;
}
.material-right, .material-left {
  display: inline-block;
  padding: 0 5px 5px 5px !important;
}

/* COMPONENT: MATERIALCARD: full-card */
.full-card-img {
  height: auto;
  width: 100%
}
.MaterialCard {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
.card-footer {
  height:7vh
}
/* COMPONENT: MATERIALMODAL */
.modal-image {
  width: 100%
}
.CampaignList {
  box-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
} */

/* COMPONENT: CHARITYCARD, CAMPAIGNCARD: thin-card */
.CharityCard, .CampaignCard {
  margin-top: 12px;
  
  box-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.thin-card {
  display: flex;
  /* justify-content: space-between; */
  padding: 5px 10px 10px 10px !important;
  height: 15vh;
  align-items: center;
}
.no-border {
  height: 13.5vh !important;
  border: none !important;
  width: 50% !important;
  padding: 2px !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .thin-card-content {
  display: inline-block;
  margin: 0 5px 0 5px
} */
.thin-card-img {
  max-width: 95%;
  max-height: 13vh;
  align-self: center;
}
.campaign-img {
  border-radius: .5rem;
  /* width: 95% */
}
.whitespace {
  background: white;
  height: 13vh;
  width: 100%;
  margin-left: 10px;
  border-radius: .5rem;
}
.thin-card-txt {
  font-stretch: condensed;
  margin: 0 5px 0 5px;
  max-width: 100%;
  display: inline;
  margin-right: 10px;
  /* line-height: 1px  */
}

/* COMPONENT: CAMPAIGN */
.Campaign > img {
  height: 15vh;
}

/* COMPONENT: MATERIAL */
.Material > img {
  height: 30vh;
}

/* COMPONENT: CONTAINER */
.container {
  /* margin-left: 1px !important; */
  /* margin-right: 1px !important; */
  max-width: 99.8vw !important;
}
/* COMPONENT: ROW */
/* .row {
  
} */
/* COMPONENT: COL */
.col {
  /* border-left: 0.5px solid darkgray; */
  /* border-right: 0.5px solid darkgray; */
  height:92vh;
}

.home-col {
  margin-top:5px;
  border-left: 0.1vw lightgrey dotted;
  max-height: 88vh;
  overflow-y: auto;
} 
