body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* COMPONENT: CHARITY */
.Charity > img {
  height: 15vh;
}

/* COMPONENT: CAMPAIGN */
.Campaign > img {
  height: 15vh;
}

/* COMPONENT: MATERIAL */
.Material > img {
  height: 30vh;
}